node_modules/
npm-debug.log
packages/*/lib
.vscode
**/dist
**/build
.DS_Store
builds
packages/**/.nyc_output/

# files created by cicd pipeline to manage state between pipeline stages
.cicd_*
pnpm-debug.log
cicd/codepipeline-packaged.yaml
