https://pnpm.js.org/docs/en/pnpm-recursive.html#shared-workspace-shrinkwrap
shared-workspace-shrinkwrap=true

# https://pnpm.js.org/docs/en/pnpm-recursive.html#link-workspace-packages
link-workspace-packages=true



